<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 footer-top__left">
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block">
                            <h2>Категории</h2>
                            <ul class="footer-menu">
                                <li><a href="#">Спальня</a></li>
                                <li><a href="#">Ванная</a></li>
                                <li><a href="#">Детская</a></li>
                                <li><a href="#">Столовая</a></li>
                                <li><a href="#">Коллекции</a></li>
                                <li><a href="#">Подарки</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <h2>Клиентский сервис</h2>
                            <ul class="footer-menu footer-menu__two-col">
                                <li><a href="#">Вышивка</a></li>
                                <li><a href="#">Пошив по размерам</a></li>
                                <li><a href="#">Подарочный сертификат</a></li>
                                <li><a href="#">Написать нам</a></li>
                                <li><a href="#">Доставка и оплата</a></li>
                                <li><a href="#">Политика возврата</a></li>
                                <li><a href="#">Гарантия качества</a></li>
                                <li><a href="#">Гид по покупкам</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 footer-top__right">
                    <h2>Присоединяйтесь к нам!</h2>
                    <p class="form-slogan">Будьте в курсе новых поступлений, акций и распродаж.</p>
                    <form class="footer-form" action="#" method="post">
                        <div class="footer-form__row">
                            <input type="email" class="form-control footer-form__input" placeholder="Введите ваш email">
                            <button type="submit" class="footer-form__btn btn btn-dark">Подписаться</button>
                            <label class="footer-form__label custom-checkbox">
                                <input type="checkbox" checked> <span>Я даю согласие на <a href="#" target="_blank" class="konf">обработку</a> персональных данных</span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__row row">
                <div class="col-sm-6">
                    <div class="copy">© 2014-2019 Custom Company<br><span>Здесь еще какой-нибудь текст отказа от ответственности</span></div>
                </div>
                <div class="col-sm-6 footer-bottom__right">
                    <a href="#" class="copy-develop" target="_blank">Сайт сделан в студии <span>АРТОФ</span></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.min.js"></script>